@font-face {
    font-family: "Sourse sans pro";
    src: url("../font/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* --------------globle-color------------ */
  
  :root{
    --primary-background-color: #d80803;
    --secondary-color: #000;
    --border-white: #fff;
    --border-red: #d80803;
    --background-image: linear-gradient(to right #9200F7 ,#4A50F8, #15B0F8);
    --color: #fff;
    --primary-color: #9200F7;

  }
  h1,h2,h3,h4,h5.p,a{
    font-family: "Sourse sans pro";
    
  }
  a{
    text-decoration: none;
    
  }
  .center{
    text-align: center;
  }

  body{
    background-color: #E5E5F9;
  }
  .checked{
    color: #ff9f43;
  }
  .checked2{
    color: #4A50F8;
  }
  .gray{
    color: #707070;
  }
  .blue{
    color: #33A0FF !important;
  }
  
  img{
    transition: all;
    transition-duration: 0.5s;
  }
  img:hover{
    transform: scale(1.05);
  }



/* ------------Top button--------------- */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }



  /* ----------Short mainbanner------- */

  #os-shortbanner2{
    background: url(../img/Home\ 3\ Slider.png) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    
  }
  #os-shortbanner2 h1{
    padding: 80px 0px 60px 0px;
    color: var(--color);
  }

  /* ---------os-pageination------ */

  #os-pageination{
    margin: 40px 0px 40px 0px;
    padding: 12px;
    background: #F6F7F8;
    font-size: 12px;
  }
  #os-pageination span a{
    color: var(--primary-color);
    
  }
  



/* ---------os-blog--------- */

#os-blog{
    background-color: #fff;
    padding: 12px 0px;
}
#os-blog .card{
    background-color: transparent;
    border: none;
    
}
#os-blog img{
    transform: none;
    transition: none;
}
#os-blog .card p,#os-blog .card a{
    font-size: 12px;
    margin-bottom: 0;
}
#os-blog .pagination .page-link{
    border: none !important;  
    color: #9200f7;
  }
#os-blog .pagination .page-link:hover{
    border: none !important;  
    background-color: none !important;
  }
  
  #os-blog .pagination .page-item{
  margin: 0px 10px;  
  transition: all;
  transition-duration: 0.5s;
  }

 
  #os-blog .page-item.active .page-link{
    background-image: var(--background-image) ;
    color: white;
    
  }
  #os-blog .fa-calendar-days,
  #os-blog .fa-user{
    font-size: 10px;
  }
  #os-blog .shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }




/* ------footer-------- */

#os-footer{
    padding: 50px 0px;
   
    margin: 0px 0px 0px 0px;
}




/* ----------------------- */

@media (max-width: 1024px) {
    
}
@media (max-width: 768px){
  
  }
  

@media (max-width: 425px) {
    #os-cart .wrapper{
        border: 1px solid #9200F7;
    border-radius: 5px;
    width: 83px;
    padding: 1px;
    }
}